pipeline/pl_file_ingestion_master.json
{
	"name": "pl_file_ingestion_master",
	"properties": {
		"activities": [
			{
				"name": "SP_Log_Pipeline_Start",
				"type": "SqlServerStoredProcedure",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[config].[usp_manage_pipeline_run]",
					"storedProcedureParameters": {
						"operation": {
							"value": "INSERT",
							"type": "String"
						},
						"pipeline_name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"pipeline_run_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"run_status": {
							"value": "RUNNING",
							"type": "String"
						},
						"triggered_by": {
							"value": {
								"value": "@if(equals(pipeline().TriggerType, 'PipelineActivity'), pipeline().TriggeredByPipelineName, pipeline().TriggerType)",
								"type": "Expression"
							},
							"type": "String"
						},
						"parent_pipeline_run_id": {
							"value": {
								"value": "@if(equals(pipeline().TriggerType, 'PipelineActivity'), pipeline().TriggeredByPipelineRunId, '')",
								"type": "Expression"
							},
							"type": "String"
						},
						"input_parameters": {
							"value": {
								"value": "@concat('{\"file_id\":\"', pipeline().parameters.p_file_id, '\",\"sftp_source_path\":\"', pipeline().parameters.p_sftp_source_path, '\"}')",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_config",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "GM_List_SFTP_Files",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "SP_Log_Pipeline_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_sftp_binary_folder",
						"type": "DatasetReference",
						"parameters": {
							"ds_p_host": {
								"value": "@pipeline().parameters.p_sftp_host",
								"type": "Expression"
							},
							"ds_p_port": {
								"value": "@pipeline().parameters.p_sftp_port",
								"type": "Expression"
							},
							"ds_p_username": {
								"value": "@pipeline().parameters.p_sftp_username",
								"type": "Expression"
							},
							"ds_p_akv_password_secret_name": {
								"value": "@pipeline().parameters.p_sftp_akv_password_secret_name",
								"type": "Expression"
							},
							"ds_p_folder_path": {
								"value": "@pipeline().parameters.p_sftp_source_path",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false,
						"disableChunking": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "FLT_Only_Files",
				"type": "Filter",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "GM_List_SFTP_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GM_List_SFTP_Files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, 'File')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "LKP_Pending_Configs",
				"type": "Lookup",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "SP_Log_Pipeline_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT file_ingestion_config_id, file_prefix_name, source_system,\n       has_ctl_file, file_name_pattern, ingestion_frequency\nFROM audit.vw_pending_file_processing\nWHERE file_id = '@{pipeline().parameters.p_file_id}'\n    AND ingestion_frequency != 'Adhoc'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_config",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_Each_Config",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "LKP_Pending_Configs",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "FLT_Only_Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LKP_Pending_Configs').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "FLT_Files_Match_Prefix",
							"type": "Filter",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('FLT_Only_Files').output.value",
									"type": "Expression"
								},
								"condition": {
									"value": "@startswith(toLower(item().name), toLower(item().file_prefix_name))",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_sftp_host": {
				"type": "string",
				"defaultValue": "10.0.1.4"
			},
			"p_sftp_port": {
				"type": "int",
				"defaultValue": 22
			},
			"p_sftp_username": {
				"type": "string",
				"defaultValue": "sa-ods-user"
			},
			"p_sftp_akv_password_secret_name": {
				"type": "string",
				"defaultValue": "kv-sftp-ods-password"
			},
			"p_sftp_source_path": {
				"type": "string",
				"defaultValue": "/u05/sas/redw/HOST/"
			},
			"p_storage_account": {
				"type": "string",
				"defaultValue": "stmbbgbpoc"
			},
			"p_landing_container": {
				"type": "string",
				"defaultValue": "landing"
			},
			"p_landing_base_path": {
				"type": "string",
				"defaultValue": "ods/20260319"
			},
			"p_file_id": {
				"type": "string",
				"defaultValue": "aix_ingestion_j1"
			},
			"p_recovery_mode": {
				"type": "string",
				"defaultValue": "N"
			}
		},
		"variables": {
			"file_type": {
				"type": "String"
			},
			"file_group_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "File Ingestion"
		},
		"annotations": [],
		"lastPublishTime": "2026-03-20T18:54:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}