pipeline/pl_sftp_to_landing.json
{
	"name": "pl_sftp_to_landing",
	"properties": {
		"activities": [
			{
				"name": "FE_EachFileToCopy",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LKP_Log_SftpToLanding_Start",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.p_files_to_copy",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "SV_File_Type",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LKP_Log_SftpToLanding_Copy_Start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_type",
								"value": {
									"value": "@if(endswith(toLower(item().name), '.ctl'), 'CONTROL', 'DATA')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SV_File_Group_ID",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "LKP_Log_SftpToLanding_Copy_Start",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "file_group_id",
								"value": {
									"value": "@if(greater(lastIndexOf(item().name, '.'), 0), substring(item().name, 0, lastIndexOf(item().name, '.')), item().name)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "CP_File_to_Landing",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SV_File_Type",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SV_File_Group_ID",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": false,
										"deleteFilesAfterCompletion": false,
										"disableChunking": false
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "PreserveHierarchy"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ds_sftp_binary",
									"type": "DatasetReference",
									"parameters": {
										"ds_p_host": "@pipeline().parameters.p_sftp_host",
										"ds_p_port": "@pipeline().parameters.p_sftp_port",
										"ds_p_username": "@pipeline().parameters.p_sftp_username",
										"ds_p_akv_password_secret_name": "@pipeline().parameters.p_sftp_akv_password_secret_name",
										"ds_p_folder_path": "@pipeline().parameters.p_sftp_source_path",
										"ds_p_file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_adls_binary",
									"type": "DatasetReference",
									"parameters": {
										"ds_p_storage_account_name": {
											"value": "@pipeline().parameters.p_adls_storage_account",
											"type": "Expression"
										},
										"ds_p_container": {
											"value": "@pipeline().parameters.p_landing_container",
											"type": "Expression"
										},
										"ds_p_directory": {
											"value": "@pipeline().parameters.p_landing_path",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "SP_Log_SftpToLanding_Copy_Succeeded",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CP_File_to_Landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[config].[usp_upsert_file_processing_log]",
								"storedProcedureParameters": {
									"operation": {
										"value": "UPDATE",
										"type": "String"
									},
									"file_processing_log_id": {
										"value": {
											"value": "@activity('LKP_Log_SftpToLanding_Copy_Start').output.firstRow.file_processing_log_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"file_type": {
										"value": {
											"value": "@variables('file_type')",
											"type": "Expression"
										},
										"type": "String"
									},
									"file_group_id": {
										"value": {
											"value": "@variables('file_group_id')",
											"type": "Expression"
										},
										"type": "String"
									},
									"ingestion_status": {
										"value": "COPIED_TO_LANDING",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_config",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Log_SftpToLanding_Copy_Failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "CP_File_to_Landing",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[config].[usp_upsert_file_processing_log]",
								"storedProcedureParameters": {
									"operation": {
										"value": "UPDATE",
										"type": "String"
									},
									"file_processing_log_id": {
										"value": {
											"value": "@activity('LKP_Log_SftpToLanding_Copy_Start').output.firstRow.file_processing_log_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"ingestion_status": {
										"value": "FAILED",
										"type": "String"
									},
									"failure_reason": {
										"value": {
											"value": "@concat('Copy failed: ', activity('CP_File_to_Landing').error.message)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_config",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "SP_Log_SftpToLanding_Error_Detail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "SP_Log_SftpToLanding_Copy_Failed",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[config].[usp_insert_error_log]",
								"storedProcedureParameters": {
									"file_processing_log_id": {
										"value": {
											"value": "@activity('LKP_Log_SftpToLanding_Copy_Start').output.firstRow.file_processing_log_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"pipeline_run_log_id": {
										"value": {
											"value": "@activity('LKP_Log_SftpToLanding_Start').output.firstRow.pipeline_run_log_id",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"error_source": {
										"value": "ADF_COPY_TO_LANDING_ACTIVITY",
										"type": "String"
									},
									"error_category": {
										"value": "COPY_ACTIVITY_ERROR",
										"type": "String"
									},
									"error_code": {
										"value": {
											"value": "@activity('CP_File_to_Landing').error.errorCode",
											"type": "Expression"
										},
										"type": "String"
									},
									"error_details": {
										"value": {
											"value": "@concat('File: ', item().name, ' | Error: ', activity('CP_File_to_Landing').error.message)",
											"type": "Expression"
										},
										"type": "String"
									},
									"step_name": {
										"value": "CP_File_to_Landing",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sql_config",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LKP_Log_SftpToLanding_Copy_Start",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[config].[usp_upsert_file_processing_log]",
									"storedProcedureParameters": {
										"operation": {
											"type": "String",
											"value": "INSERT"
										},
										"file_ingestion_config_id": {
											"type": "Int64",
											"value": {
												"value": "@pipeline().parameters.p_file_ingestion_config_id",
												"type": "Expression"
											}
										},
										"pipeline_run_id": {
											"type": "String",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										"source_system": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.p_source_system",
												"type": "Expression"
											}
										},
										"file_prefix_name": {
											"type": "String",
											"value": {
												"value": "@pipeline().parameters.p_file_prefix_name",
												"type": "Expression"
											}
										},
										"file_name": {
											"type": "String",
											"value": {
												"value": "@item().name",
												"type": "Expression"
											}
										},
										"landing_path": {
											"type": "String",
											"value": {
												"value": "@concat(pipeline().parameters.p_landing_path, item().name)",
												"type": "Expression"
											}
										},
										"ingestion_status": {
											"type": "String",
											"value": "PROCESSING"
										},
										"file_type": {
											"type": "String",
											"value": {
												"value": "@if(endswith(toLower(item().name), '.ctl'), 'CONTROL', 'DATA')",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql_config",
									"type": "DatasetReference"
								}
							}
						}
					]
				}
			},
			{
				"name": "SP_Log_SftpToLanding_Failed",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FE_EachFileToCopy",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[config].[usp_upsert_pipeline_run_log]",
					"storedProcedureParameters": {
						"operation": {
							"value": "UPDATE",
							"type": "String"
						},
						"pipeline_run_log_id": {
							"value": {
								"value": "@activity('LKP_Log_SftpToLanding_Start').output.firstRow.pipeline_run_log_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"run_status": {
							"value": "FAILED",
							"type": "String"
						},
						"error_message": {
							"value": {
								"value": "@concat('Pipeline failed at: ', utcNow())",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_config",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "SP_Log_SftpToLanding_Succeeded",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "FE_EachFileToCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[config].[usp_upsert_pipeline_run_log]",
					"storedProcedureParameters": {
						"operation": {
							"value": "UPDATE",
							"type": "String"
						},
						"pipeline_run_log_id": {
							"value": {
								"value": "@activity('LKP_Log_SftpToLanding_Start').output.firstRow.pipeline_run_log_id",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"run_status": {
							"value": "SUCCEEDED",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ls_sql_config",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LKP_Log_SftpToLanding_Start",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[config].[usp_upsert_pipeline_run_log]",
						"storedProcedureParameters": {
							"operation": {
								"type": "String",
								"value": "INSERT"
							},
							"pipeline_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().Pipeline",
									"type": "Expression"
								}
							},
							"pipeline_run_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"run_status": {
								"type": "String",
								"value": "RUNNING"
							},
							"triggered_by": {
								"type": "String",
								"value": {
									"value": "@if(equals(pipeline().TriggerType, 'PipelineActivity'), pipeline().TriggeredByPipelineName, pipeline().TriggerType)",
									"type": "Expression"
								}
							},
							"parent_pipeline_run_id": {
								"type": "String",
								"value": {
									"value": "@if(equals(pipeline().TriggerType, 'PipelineActivity'), pipeline().TriggeredByPipelineRunId, json('null'))",
									"type": "Expression"
								}
							},
							"input_parameters": {
								"type": "String",
								"value": {
									"value": "@concat('{\"file_count\":\"', string(length(pipeline().parameters.p_files_to_copy)), '\",\"source_path\":\"', pipeline().parameters.p_sftp_source_path, '\"}')",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_config",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"p_files_to_copy": {
				"type": "array",
				"defaultValue": [
					{
						"name": "employees_2026-03-20_000000.000000.dat",
						"type": "File"
					},
					{
						"name": "employees_2026-03-20_000000.000000.ctl",
						"type": "File"
					}
				]
			},
			"p_file_ingestion_config_id": {
				"type": "int",
				"defaultValue": 1
			},
			"p_source_system": {
				"type": "string",
				"defaultValue": "Hadoop"
			},
			"p_file_prefix_name": {
				"type": "string",
				"defaultValue": "employees"
			},
			"p_sftp_host": {
				"type": "string",
				"defaultValue": "10.0.1.4"
			},
			"p_sftp_port": {
				"type": "string",
				"defaultValue": "22"
			},
			"p_sftp_username": {
				"type": "string",
				"defaultValue": "sa-ods-user"
			},
			"p_sftp_akv_password_secret_name": {
				"type": "string",
				"defaultValue": "kv-sftp-ods-password"
			},
			"p_sftp_source_path": {
				"type": "string",
				"defaultValue": "/u05/sas/redw/HOST/"
			},
			"p_adls_storage_account": {
				"type": "string",
				"defaultValue": "stmbbgbpoc"
			},
			"p_landing_container": {
				"type": "string",
				"defaultValue": "landing"
			},
			"p_landing_path": {
				"type": "string",
				"defaultValue": "/ods/20260320/"
			},
			"p_recovery_mode": {
				"type": "string",
				"defaultValue": "N"
			}
		},
		"variables": {
			"file_type": {
				"type": "String"
			},
			"file_group_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "File Ingestion"
		},
		"annotations": [],
		"lastPublishTime": "2026-03-20T18:54:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}